workflows/Invoice Automation/Invoice WorkFlow.json
{
  "name": "Invoice WorkFlow",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=https://drive.google.com/file/d/1N4RAvMZy0iEJTdpZB-79hBkSNGazdElf/view",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        240,
        0
      ],
      "id": "28995f55-5dae-4b13-80c6-57bedd898386",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wBOVtzeXNyjCKJxd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "Invoice Number",
              "description": "Invoice no of Client",
              "required": true
            },
            {
              "name": "Client Name ",
              "description": "Name of the Client",
              "required": true
            },
            {
              "name": "Client email",
              "description": "Email Id  of Client ",
              "required": true
            },
            {
              "name": "Client Phone No",
              "type": "number",
              "description": "Phone number of Client",
              "required": true
            },
            {
              "name": "Client Address",
              "description": "Address of  Client ",
              "required": true
            },
            {
              "name": "Total Amount",
              "description": "Total amount of Invoice",
              "required": true
            },
            {
              "name": "Invoice Date",
              "type": "date",
              "description": "Date of invoice ",
              "required": true
            },
            {
              "name": "Due Date",
              "description": "Due Date of the invoice",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        656,
        0
      ],
      "id": "4aa6507f-f204-4f7f-9b8d-2d04e7f3dab6",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "702c96b5-a110-4e6f-b34e-d2b9213c9a8a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1TV7hqk55I3ukAPGxMSmX9Tif1UFVRO-sEdy2b4h56h0/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TV7hqk55I3ukAPGxMSmX9Tif1UFVRO-sEdy2b4h56h0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.output['Invoice Number'] }}",
            "Client Name ": "={{ $json.output['Client Name'] }}",
            "Client Phone No": "={{ $json.output['Phone no'] }}",
            "Client email": "={{ $json.output['Client email'] }}",
            "Client Address": "={{ $json.output['Client Address'] }}",
            "Total Amount": "={{ $json.output['Total Amount'] }}",
            "Invoice Date": "={{ $json.output['Invoice Date'] }}",
            "Due Date": "={{ $json.output['Due Date'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name ",
              "displayName": "Client Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client email",
              "displayName": "Client email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Phone No",
              "displayName": "Client Phone No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Address",
              "displayName": "Client Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Due Date",
              "displayName": "Due Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        0
      ],
      "id": "9a26d42d-968b-4d58-af7e-ca54ed226d6b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DAslsHK3zNHEaM2k",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "1N4RAvMZy0iEJTdpZB-79hBkSNGazdElf",
          "mode": "list",
          "cachedResultName": "Bill.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/1N4RAvMZy0iEJTdpZB-79hBkSNGazdElf/view?usp=drivesdk"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3650e881-cde2-4259-bce2-ce2db0cfb9d8",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wBOVtzeXNyjCKJxd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "llama3.2:latest",
          "mode": "list",
          "cachedResultName": "llama3.2:latest"
        },
        "messages": {
          "values": [
            {
              "content": "=Invoice Number:{{ $json['Invoice Number'] }}\nClient Name:{{ $json['Client Name '] }}\nClient Phone No:{{ $json['Client Phone No'] }}\nClient Email:{{ $json['Client Email'] }}\nClient Address:{{ $json['Client Address'] }}\nTotal Amount:${{$json['Total Amount'] }}\nInvoice Date:{{$json['Invoice Date'] }}\nDue Date:{{$json['Due Date'] }}"
            }
          ]
        },
        "options": {
          "system": "=ROLE:\nYou are an expert Billing Operations Assistant.\nYou receive invoice data and generate an internal billing notification.\n\nOUTPUT RULES (CRITICAL):\n- Output ONLY raw JSON.\n- Do NOT use code blocks.\n- Do NOT wrap in ``` or quotes.\n- Output must contain exactly two keys:\n  subject\n  email\n- email value MUST be a single plain text string.\n- No nested JSON objects.\n- No arrays.\n\nSUBJECT FORMAT:\n[Action Required] New Invoice Received - [Invoice Number] - [Client Name]\n\nEMAIL FORMAT:\nUse plain text with line breaks.\n\nInclude:\nExecutive Summary\nAmount\nClient\nDue Date\n\nFull Details\nInvoice Number\nInvoice Date\nDue Date\nClient Name\nClient Email\nClient Phone\nClient Address\nTotal Amount\n\nDiscrepancies / Notes\nIf none exist write:\nNo discrepancies detected.\n\nMISSING DATA:\nIf any field is empty or null write:\nNot Provided\n\nSTRICT MODE:\nIf output is not valid JSON with only subject and email, regenerate silently until valid.\n\nDo not add greetings.\nDo not add explanations.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        1296,
        0
      ],
      "id": "3a2d7e84-e2a7-4c90-b95f-f1428f3d3694",
      "name": "Message a model1",
      "credentials": {
        "ollamaApi": {
          "id": "aSWtr5WxeAwUdX7e",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=sarveshdev2002@gmail.com ",
        "subject": "={{ $json.content ? JSON.parse($json.content).subject : 'No Subject' }}",
        "emailType": "text",
        "message": "={{ $json.content ? JSON.parse($json.content).email : 'No Message' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1952,
        0
      ],
      "id": "a5766091-0fb1-4fe7-8cf6-f2557b0bbbee",
      "name": "Send a message1",
      "webhookId": "c5c039ac-7b3d-47e3-bf91-434b9d4c7c23",
      "credentials": {
        "gmailOAuth2": {
          "id": "FpK3v92iIYh6IUo4",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        208
      ],
      "id": "d0a9bb1e-31c6-4c54-82d2-279ca379128d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "KHSGkCcdf2Bj1sxC",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    let contentString = item.json.content;\n    \n    // Clean up the string - remove any extra escaping or formatting issues\n    if (typeof contentString === 'string') {\n      // Try direct parse first\n      try {\n        const parsedContent = JSON.parse(contentString);\n        results.push({\n          json: {\n            subject: parsedContent.subject || 'No Subject',\n            email: parsedContent.email || 'No Email Content',\n            to: 'sarveshdev2002@gmail.com'\n          }\n        });\n        continue;\n      } catch (e) {\n        // If direct parse fails, try fixing common issues\n        // Replace escaped newlines and clean up\n        contentString = contentString\n          .replace(/\\\\n/g, '\\\\\\\\n')  // Double escape newlines\n          .replace(/\\n/g, '')         // Remove actual newlines\n          .trim();\n        \n        const parsedContent = JSON.parse(contentString);\n        results.push({\n          json: {\n            subject: parsedContent.subject || 'No Subject',\n            email: parsedContent.email || 'No Email Content',\n            to: 'sarveshdev2002@gmail.com'\n          }\n        });\n      }\n    } else {\n      // Already an object\n      results.push({\n        json: {\n          subject: contentString.subject || 'No Subject',\n          email: contentString.email || 'No Email Content',\n          to: 'sarveshdev2002@gmail.com'\n        }\n      });\n    }\n  } catch (error) {\n    console.error('Full error:', error);\n    console.error('Content type:', typeof item.json.content);\n    console.error('Content preview:', JSON.stringify(item.json.content).substring(0, 200));\n    \n    // Fallback: try to extract data with regex if JSON parsing fails completely\n    const content = String(item.json.content);\n    const subjectMatch = content.match(/\"subject\":\\s*\"([^\"]+)\"/);\n    const emailMatch = content.match(/\"email\":\\s*\"([^\"]+(?:\\\\.[^\"]+)*)\"/);\n    \n    results.push({\n      json: {\n        subject: subjectMatch ? subjectMatch[1] : 'Error Processing Invoice',\n        email: emailMatch ? emailMatch[1].replace(/\\\\n/g, '\\n') : 'Could not extract email content',\n        to: 'sarveshdev2002@gmail.com'\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        0
      ],
      "id": "6a5d5622-6e42-4eb0-a23a-714710e51d7e",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "7b46dfa8-bce2-4e37-9c60-84ee25899c8d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "115aa243dddf640fd4a978b11018788dfb4b6517309b6cc6432ed3ca6ca27149"
  },
  "id": "FvO5oH4wzamf9amzWuxp-",
  "tags": []
}